[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gspread = "*"
oauth2client = "*"
pydrive = "*"
bs4 = "*"
requests = "*"
selenium = "*"

[dev-packages]
autopep8 = "*"
functions-framework = "*"
pyinstaller = "==4.1"

[requires]
python_version = "3.9"
